[user]
	name = Tomás Urdiales
	email = 83011678+tomasurdiales@users.noreply.github.com
[core]
	excludesfile = /Users/tomasurdiales/.TomsConfig/.gitignore_global
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
